header {
  .nav_scoutArea {
    .button {
      .scoutArea {
        background-color: white;
        border-radius: 4px;
        cursor: pointer;


        a {
          color: #2A6B8A;
        }
      }

      .aboutMe:hover,
      .scoutArea:hover,
      .bookArea:hover {
        @extend.scoutArea;
      }

    }
  }
}

.main_scoutArea {
  .theme {
    h3.title {
      display: flex;
      justify-content: space-between;
      background-color: #2A6B8A;
      color: white;
      padding: 4px 8px;
      border-radius: 4px;
      margin: 8px;
    }

    .themeBlock {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .cub {
        padding: 0;
        margin: 0;

        h4 {
          margin: 8px;
          padding: 8px;
          color: #2A6B8A;
          border-bottom: 2px solid lightblue;

          &.song {
            display: flex;
            justify-content: space-between;

            .more {
              background-color: #2A6B8A;
              line-height: 1;
              border-radius: 8px;
              padding-top: 2px;

              a {
                color: white;
                text-decoration: none;
                padding: 8px;
              }

              &:hover {
                background-color: #AFCB7E;
              }
            }
          }
        }

        ol.part {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          max-height: 560px;
          overflow-y: auto;
          padding: 0;

          li {
            margin: 10px;
            cursor: pointer;
            list-style: none;



            a {
              text-decoration: none;
              color: black;
              padding: 8px;

              &:hover {
                background-color: #2A6B8A;
                color: white;
                border-radius: 4px;
              }
            }
          }

          li.openModal {
            margin: 10px;

            span {
              padding: 8px;

              &:hover {
                background-color: #2A6B8A;
                color: white;
                border-radius: 4px;
              }
            }



          }
        }


      }

      // 彈跳視窗
      .modalAll {

        div.modal {
          display: none;

          div.modalBackground {
            margin: 0;
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;

            div.fable {
              background-color: #fff;
              border-radius: 5px;
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);


              h4.modalTitle {
                background-color: #2A6B8A;
                color: white;
                height: 40px;
                margin: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                  margin: 0 6px;
                }

                .closeModal {
                  font-size: 24px;
                  cursor: pointer;
                  line-height: 1;
                }
              }

              ol.modalContent {
                overflow-y: auto;
                max-height: 460px;
                padding: 20px;
                list-style: none;
                margin-top: 0;

                li {
                  border-top: 1px dashed #2A6B8A;

                  &:first-child {
                    border-top: none;
                  }

                  p.number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                  }

                  p {
                    margin: 16px;
                  }
                }
              }
            }
          }

        }
      }

      //風琴
      ol.partCheer {
        padding: 0 8px;

        .accordion {
          list-style-type: none;
          margin: 0;
          padding: 0;

          .title {
            cursor: pointer;
            padding: 10px;
            background-color: #2A6B8A;
            border: 1px solid #ddd;
            margin-top: 8px;
            color: white;
            display: flex;
            justify-content: space-between;
            border-radius: 4px;

          }

          .panel {
            display: none;
            padding: 10px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
          }

        }

      }






    }
  }
}