* {
  box-sizing: border-box;
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", sans-serif, serif;

}

body {
  margin: 0;
  background-color: #EBF5F6;

  main {
    .banner {
      display: block;
      position: relative;
      font-size: 0;
      overflow: hidden;
      height: 250px;

      .bannerTitle {
        font-size: 28px;
        position: absolute;
        top: 10%;
        left: 5%;
        z-index: 3;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

        h1,
        h4 {
          margin: 0;

        }
      }

      img {
        width: 100%;
        height: 100%;
        font-size: 0;
      }

    }

  }
}

//捲軸底色
::-webkit-scrollbar-track {
  background-color: white;
}

//捲軸寬度
::-webkit-scrollbar {
  width: 12px;

}

//捲軸本體顏色
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  background-color: #2A6B8A;
  border-radius: 4px;
}