header {
  position: sticky;
  top: 0px;
  background-color: #EBF5F6;
  font-size: 0;
  z-index: 5;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A6B8A;
    height: 60px;
    font-size: 16px;

    span {
      margin: 8px;
      padding: 4px;

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding: 8px;
      }
    }



  }


}